body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 207, 0);
    text-decoration: none;
}

.info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.head1 {
    font-size: 24px;
}

.ending_page {
    padding-top: 15%;
    font-size: 32px;
}

.dbOrigin {
    padding-top: 2%;
    color: rgb(0, 207, 0);
}

.password {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-top: 2%;
}

hr {
    color: #00cf00;
}

.text_red {
    color: red;
}
